<div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">
    <ol class="breadcrumb">
        <li><a href="#/realms/{{realm.realm}}/groups">{{:: 'groups' | translate}}</a></li>
        <li>{{group.name}}</li>
    </ol>
    <kc-tabs-group></kc-tabs-group>

    <table class="table table-striped table-bordered">
        <caption data-ng-show="users" class="hidden">{{:: 'table-of-group-members' | translate}}</caption>
        <thead>
            <tr>
            <tr data-ng-show="searchLoaded && users.length > 0">
                <th>{{:: 'username' | translate}}</th>
                <th>{{:: 'last-name' | translate}}</th>
                <th>{{:: 'first-name' | translate}}</th>
                <th>{{:: 'email' | translate}}</th>
                <th></th>
            </tr>
            </tr>
        </thead>
        <tfoot data-ng-show="users && (users.length >= query.max || query.first > 0)">
            <tr>
                <td colspan="7">
                    <div class="table-nav">
                        <button data-ng-click="firstPage()" class="first" ng-disabled="query.first == 0">{{::
                            'first-page' | translate}}</button>
                        <button data-ng-click="previousPage()" class="prev" ng-disabled="query.first == 0">{{::
                            'previous-page' | translate}}</button>
                        <button data-ng-click="nextPage()" class="next" ng-disabled="users.length < query.max">{{::
                            'next-page' | translate}}</button>
                    </div>
                </td>
            </tr>
        </tfoot>
        <tbody>
            <tr ng-repeat="user in users">
                <td><a href="#/realms/{{realm.realm}}/users/{{user.id}}">{{user.username}}</a></td>
                <td>{{user.lastName}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.email}}</td>
                <td class="kc-action-cell" kc-open="/realms/{{realm.realm}}/users/{{user.id}}">{{:: 'edit' | translate}}
                </td>
            </tr>
            <tr data-ng-show="!users || users.length == 0">
                <td class="text-muted" data-ng-show="searchLoaded && users.length == 0 && lastSearch != null">{{::
                    'no-group-members' | translate}}</td>
                <td class="text-muted" data-ng-show="searchLoaded && users.length == 0 && lastSearch == null">{{::
                    'no-group-members' | translate}}</td>
            </tr>
        </tbody>
    </table>
    <div id="liiibre-users" ng-controller="LiiibreGroupUserCtl">
        <form role="form" class="search-pf has-button" ng-submit="search()">
            <div class="form-group has-clear">
                <div class="search-pf-input-group">
                    <input ng-model="query" type="search" class="form-control" placeholder="{{:: 'search.placeholder' | translate}}">
                    <button type="button" class="clear" aria-hidden="true" ng-click="clearSearch()"><span
                            class="pficon pficon-close"></span></button>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit"><span class="fa fa-search"></span></button>
            </div>
        </form>
        <div class="list-group list-view-pf list-view-pf-view">
            <div class="list-group-item" ng-repeat="user in users">
                <div class="list-view-pf-actions">
                    <button class="btn btn-default" ng-click="join(user.id)" ng-if="!user.isMember">{{:: 'join' | translate}}</button>
                    <button class="btn btn-default" ng-click="leave(user.id)" ng-if="user.isMember">{{:: 'leave' | translate}}</button>
                </div>
                <div class="list-view-pf-main-info">
                    <div class="list-view-pf-left">
                        <span class="fa fa-user list-view-pf-icon-sm"></span>
                    </div>
                    <div class="list-view-pf-body">
                        <div class="list-view-pf-description">
                            <div class="list-group-item-heading" ng-if="user.firstName">
                                {{ user.firstName }}  {{ user.lastName }}
                            </div>
                            <div class="list-group-item-heading" ng-if="!user.firstName">
                                {{ user.username }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<kc-menu></kc-menu>