<footer>
  <div class="pull-right">
    Digital Democratic - Administration | <a href="https:/gitlab.com/digitaldemocratic/digitaldemocratic">gitlab</a>
  </div>
  <div class="clearfix"></div>
</footer>
