<div style="display:none">
  <div class="row template-detail-users">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-md-12 col-md-12 col-xs-12" id="actions-d.id" data-pk="d.id" data-username="d.username">
          <div class="row">
            <button class="btn btn-info btn-xs btn-passwd" type="button"  data-placement="top" ><i class="fa fa-key m-right-xs"></i>Reset password</button>
            <button class="btn btn-info btn-xs btn-edit" type="button"  data-placement="top" ><i class="fa fa-pencil m-right-xs"></i>Edit</button>
            <button class="btn btn-danger btn-xs btn-delete" type="button"  data-placement="top" ><i class="fa fa-remove m-right-xs"></i>Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
