<div id="modal-lostconnection" class="modal fade" role="dialog" style="width:50%;margin-left:30%;margin-top:10%;z-index: 100000;">
    <div class="modal-admin">
      <div class="modal-content">
          <div class="row text-center"><h2 style="margin-bottom:5px">Connection lost</h2></div>
          <hr>
          <div class="row">
              <div class="col-md-1 col-sm-1 col-xs-12"></div>
              <div class="col-md-10 col-sm-10 col-xs-12">
                  <div class="row text-center">Unable to contact server. There should be a problem with network or a heavy load.</div>
                  <br>
                  <div class="row text-center">
                      <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Trying to reconnect...  
                  </div>
                  <br>
              <div class="col-md-1 col-sm-1 col-xs-12">
              </div>	
          </div>
          
      </div>
    </div>
  </div>
</div>

<div id="modal-info" class="modal fade" role="dialog" style="width:100%;margin-left:10%;margin-top:10%;z-index: 100000;">
    <div class="modal-admin">
      <div class="modal-content">
          <div class="row text-center"><h2 style="margin-bottom:5px">Connection lost</h2></div>
          <hr>
          <div class="row">
              <div class="col-md-10 col-sm-10 col-xs-12">
                  <div class="row text-center">Unable to contact server. There should be a problem with network or a heavy load.</div>
                  <br>
                  <div class="row text-center">
                      <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Trying to reconnect...  
                  </div>
                  <br>
              <div class="col-md-1 col-sm-1 col-xs-12">
              </div>	
          </div>
          
      </div>
    </div>
  </div>
</div>