
<div id="navbar-menu-apps">
    <div id="menu-apps-btn">
        <button type="button" id="dropdownMenuAppsButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <svg id="Menú_Apps" data-name="Menú Apps" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
                <rect id="Rectángulo_2" data-name="Rectángulo 2" width="6" height="6" fill="#262626"/>
                <rect id="Rectángulo_1447" data-name="Rectángulo 1447" width="6" height="6" transform="translate(0 10)" fill="#262626"/>
                <rect id="Rectángulo_1450" data-name="Rectángulo 1450" width="6" height="6" transform="translate(0 20)" fill="#262626"/>
                <rect id="Rectángulo_1440" data-name="Rectángulo 1440" width="6" height="6" transform="translate(10)" fill="#262626"/>
                <rect id="Rectángulo_1446" data-name="Rectángulo 1446" width="6" height="6" transform="translate(10 10)" fill="#262626"/>
                <rect id="Rectángulo_1449" data-name="Rectángulo 1449" width="6" height="6" transform="translate(10 20)" fill="#262626"/>
                <rect id="Rectángulo_1441" data-name="Rectángulo 1441" width="6" height="6" transform="translate(20)" fill="#262626"/>
                <rect id="Rectángulo_1445" data-name="Rectángulo 1445" width="6" height="6" transform="translate(20 10)" fill="#262626"/>
                <rect id="Rectángulo_1448" data-name="Rectángulo 1448" width="6" height="6" transform="translate(20 20)" fill="#262626"/>
            </svg>
        </button>
        <div id="dropdownMenuApps" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" >
            <ul id="app-aapps">
                
                <li class="app ">
                    <a href="https://nextcloud.santantoni.duckdns.org/" class="app-link" target="_blank">
                        <div class="icon ">
                            <i class="fa fa-cloud" aria-hidden="true"></i>
                        </div>
                        <div class="text">Núvol + crear arxius</div>
                    </a>
                </li>
                
                <li class="app ">
                    <a href="https://nextcloud.santantoni.duckdns.org/apps/mail/setup" class="app-link" target="_blank">
                        <div class="icon ">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        </div>
                        <div class="text">Correu</div>
                    </a>
                </li>
                
                <li class="app ">
                    <a href="https://pad.santantoni.duckdns.org/" class="app-link" target="_blank">
                        <div class="icon ">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        </div>
                        <div class="text">Pads</div>
                    </a>
                </li>
                
                <li class="app ">
                    <a href="https://nextcloud.santantoni.duckdns.org/apps/forms" class="app-link" target="_blank">
                        <div class="icon ">
                            <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        </div>
                        <div class="text">Formularis</div>
                    </a>
                </li>
                
                <li class="app ">
                    <a href="https://nextcloud.santantoni.duckdns.org/apps/polls" class="app-link" target="_blank">
                        <div class="icon ">
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                        </div>
                        <div class="text">Enquestes</div>
                    </a>
                </li>
                
                <li class="app ">
                    <a href="https://nextcloud.santantoni.duckdns.org/apps/spreed" class="app-link" target="_blank">
                        <div class="icon ">
                            <i class="fa fa-commenting-o" aria-hidden="true"></i>
                        </div>
                        <div class="text">Xat</div>
                    </a>
                </li>
                
                <li class="app ">
                    <a href="https://nextcloud.santantoni.duckdns.org/apps/calendar" class="app-link" target="_blank">
                        <div class="icon ">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                        <div class="text">Calendari</div>
                    </a>
                </li>
                
                <li class="app ">
                    <a href="https://wp.santantoni.duckdns.org/wp-login.php?saml_sso" class="app-link" target="_blank">
                        <div class="icon ">
                            <i class="fa fa-rss" aria-hidden="true"></i>
                        </div>
                        <div class="text">Webs</div>
                    </a>
                </li>
                
                <li class="app ">
                    <a href="https://nextcloud.santantoni.duckdns.org/apps/bbb" class="app-link" target="_blank">
                        <div class="icon ">
                            <i class="fa fa-video-camera" aria-hidden="true"></i>
                        </div>
                        <div class="text">Reunions BBB</div>
                    </a>
                </li>
                
                <li class="app ">
                    <a href="https://nextcloud.santantoni.duckdns.org/apps/photos" class="app-link" target="_blank">
                        <div class="icon ">
                            <i class="fa fa-file-image-o" aria-hidden="true"></i>
                        </div>
                        <div class="text">Fotos</div>
                    </a>
                </li>
                
            </ul>

            <ul id="app-external" class="external-links">
                
                <li class="app ">
                    <a href="https://myweb" class="app-link" target="_blank">
                        <div class="icon ">
                            <i class="fa fa-university" aria-hidden="true"></i>
                        </div>
                        <div class="text">Escola Web</div>
                    </a>
                </li>
                
                <li class="app ">
                    <a href="https://myvideos" class="app-link" target="_blank">
                        <div class="icon ">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </div>
                        <div class="text">Youtube</div>
                    </a>
                </li>
                
                <li class="app ">
                    <a href="https://mydictionary" class="app-link" target="_blank">
                        <div class="icon ">
                            <i class="fa fa-book" aria-hidden="true"></i>
                        </div>
                        <div class="text">Diccionari</div>
                    </a>
                </li>
                
                <li class="app ">
                    <a href="http://meet.jit.si" class="app-link" target="_blank">
                        <div class="icon ">
                            <i class="fa fa-video-camera" aria-hidden="true"></i>
                        </div>
                        <div class="text">Reunions Jitsi</div>
                    </a>
                </li>
                
                <li class="app ">
                    <a href="https://www.duckduckgo.com" class="app-link" target="_blank">
                        <div class="icon ">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                        <div class="text">Cercar</div>
                    </a>
                </li>
                
                <li class="app ">
                    <a href="https://www.openstreetmap.org" class="app-link" target="_blank">
                        <div class="icon ">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </div>
                        <div class="text">Maps</div>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
</div>